@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat";
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(2.3em + 2vw);
  margin: 0;
}

h2 {
  font-size: calc(.5em + 1.1vw);
  font-family: "Montserrat";
  font-weight: 400;
  margin: 40px 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #fc7f37 !important;
}

.fp-warning, .fp-watermark {
  display: none;
}

.fp-next {
  right: 50px;
}

/* burger */

#menu {
  position: absolute;
  z-index: 10;
  top: 80px;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .4);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-box-shadow: 0px 5px 40px var(--white-color);
      box-shadow: 0px 5px 40px var(--white-color);
}
#menu.is-active {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.burger__menu {
  display: none;
}

.burger {
  display: none;
  border: none;
  width: 60px;
  height: 60px;
  margin-right: 60px;
  cursor: pointer;
  -webkit-transition: all .1s ease;
      -o-transition: all .1s ease;
          transition: all .1s ease;
}


/* header */

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-inner {
  display: flex;
}

.header__menu-inner--item {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.header__menu-inner--item:not(:last-child) {
  margin-right: 30px;
}

button {
  background-color: #fc7f37;
  font-family: "Montserrat";
  padding: 15px 60px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}

.header__logo {
  padding-left: 60px;
  font-family: "Fascinate Inline";
  font-size: 38px;
}

.header-container_list {
  display: flex;
  margin-right: 60px;
  padding: 0;
}
.header-container_list-item {
  padding: 20px 0;
}
.header-container_list-item-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 20px;
  transition: all .2s linear;
}
.header-container_list-item-link:hover {
  background-color: #fc7f37;
}
.header-container_list-item-social {
  padding: 7px;
  background-color: #fff;
  border-radius: 50%;
  opacity: .8;
  margin-left: 20px;
  border-bottom: 3px solid #fc7f37;
  border-left: 3px solid #fc7f37;
  align-items: center;
  display: flex;
  transition: all .2s linear;
}
.header-container_list-item-social:hover {
  opacity: 1;
}
.footer-container_list-item-social {
  margin-left: 0;
  margin-right: 20px;
}
.header-container_list-item-social-img {
  width: 25px;
  height: auto;
}

.intro {
  border-left: 1px solid #fc7f37;
  padding: 0 60px;
  margin-left: 8%;
  text-align: left;
  max-width: 40%;
}
  
.intro p {
  margin: 0;
  font-size: calc(1.8em + .8vw);
}

.intro_img {
  max-width: 50%;
  background-color: transparent;
}

.section {
  font-family: arial, helvetica;
  color: #fff;
  text-align: center;
}

.section:nth-child(3) {
  display: flex;
}

.fp-section:nth-child(1) {
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: linear-gradient(128deg, #1b1d1f, #000000);*/
}

.fp-section:nth-child(2) {
  background-image: linear-gradient(128deg, #ff9a3f, #ff4b40);
}

.fp-section:nth-child(3),
.fp-section:nth-child(4) {
  background-image: linear-gradient(128deg, #303235, #000000);
}

.slide {
  position: relative;
}
.slide:before {
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(255, 255, 255, .3);
}

.slide__text {
  text-align: left;
  margin-left: 8%;
  border-left: 2px solid #fc7f37;
  padding: 0 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 1;
}

.slide h1 {
  float: left;
  z-index: 1;
}

.slide:nth-child(1) {
  background-image: url(../img/bg-trip.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:nth-child(2) {
  background-image: url(../img/bg-food.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:nth-child(3) {
  background-image: url(../img/bg-design.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.Project {
  text-align: left;
  margin-left: 8%;
  border-left: 2px solid #fff;
  padding: 0 60px;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 1;
}

.Project h1 {
  color: #fc7f37;
}
.Project button {
  background-color: #fff;
  color: #fc7f37;
}

.fp-overflow {
  outline: 0;
  display: flex;
}

@media (max-width: 999px) {
  
  .header__menu,
  .header_contacts {
      display: none;
  }
  
  .burger__menu {
      display: flex;
      align-items: center;
  }
  .burger {
      display: block;
  }

  .intro {
    padding: 0 20px;
    margin-left: 4%;
  }
  .slide__text {
    margin-left: 4%;
    padding: 0 20px;
  }
  .Project {
    margin-left: 4%;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 40px;
  }
  .fp-arrow.fp-prev {
    border-width: 18.5px 14px 18.5px 0;
  }
  .fp-arrow.fp-next {
    border-width: 18.5px 0 18.5px 14px;
  }

  .fp-overflow {
    display: block;
  }

}

@media (max-width: 550px) {
  h1 {
    font-size: calc(2em + 1vw);
  }
  .header__logo {
    padding-left: 20px;
  }
  .burger {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .header__menu-inner--item {
    margin-bottom: 20px;
  }


}
